{% extends "templates/base.html" %}
{% block content %}
<div class="row-fluid">
	<div class="span8" id="reportList">

	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready( function () {
		getReportList();
	});

	function getReportList() {
		$.get('/reports', function (data) {
			$('#reportList').html( function (data) {
				var jsonObjects = $.parseJSON(data);
					var output = '';
					$.each(jsonObjects, function (this) {
						output += this.id + "<br />";
					});
					return output;
			});
		});
	}
</script>
{% endblock %}